.blog {
      padding-top: 60px;
      padding-bottom: 60px;

      @media screen and (min-width: 1000px) {
            padding-bottom: 112px;
      }
}

.blog-content {

      &__img {
            margin-top: 24px;

            @media screen and (min-width: 600px) and (max-width: 1000px) {
                  width: 100vw;
                  margin-top: 24px;
            }
      }
}

.blog-contents {
      margin-top: 24.84px;
      display: flex;
      flex-direction: column;
      align-items: center;

      @media screen and (min-width: 1000px) {
            align-items: flex-start;
      }

      &__sphere {
            background: #F3F5F6;
            margin-top: 16px;
            box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
            border-radius: 36px;
            padding: 5px 12px 5px 12px;
            @include font("Red Hat Display", 500, 12px, 18px, #FFC93E);
            font-family: 'Red Hat Display';
            font-style: normal;
            text-align: center;

            @media screen and (min-width: 1000px) {
                  color: #0C1430;
                  background: #F3F5F6;
                  border-radius: 10px;
            }
      }

      // .blog-contents__autor

      &__autor {
            @include font("Inter", 500, 16px, 24px, #FFFFFF);
            margin-top: 16px;
            text-align: center;
      }

      &__subtitle {
            @include font("Inter", 700, 20px, 38px, #FFFFFF);
            text-align: center;

            @media screen and (min-width: 1000px) {
                  text-align: start;
                  margin-top: 10px;
            }
      }
}

.blog-header__link {
      @media screen and (min-width: 1000px) {
            display: none;
      }
}

.blog-content__button {
      @media screen and (min-width: 1000px) {
            font-family: 'Inter';
            background: none;
            color: #F3F5F6;
            border: 1px solid #FFFFFF;
            margin-top: 40px;
      }
}